

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .header-img{
        height: 220px !important;
        width: 310px !important;
         margin-top: 10px;
         margin-bottom: 10px;
    
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
    .header-img{
        height: 350px !important;
        width: 415px !important;
         margin-top: 10px;
         margin-bottom: 10px;
    
    }
}
@media only screen and (min-width: 600px) {
    .header-img{
        height: 300px !important;
        width: 300px !important;
         margin-top: 10px;
         margin-bottom: 10px;
    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header-img{
        height: 320px !important;
        width: 370px !important;
         margin-top: 10px;
         margin-bottom: 10px;
    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-img{
        height: 350px !important;
        width: 500px !important;
        top: 147px;
        border-radius: 0px;
    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */
