*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: roboto !important;
}

.global-btn{
  border: none;
  background-color:#111430;
  color: white ;
  width:170px;
  height:45px;
  border-radius:5px;
  font-size:1rem;
  cursor: pointer;
}
.MuiAppBar-colorPrimary{
  background-color: transparent !important;
  box-shadow: none !important;
}
